/*.trackRecText{


}
.user_img_tracks{

	display: block #
margin-left: auto 
margin-right: auto
}

*/


/*
#ListHis1{
	background-color: #e3231d;
	height: 40px;
	font-size: 22px; 
}
#ListHis2{
	background-color: #ef907b;
	height: 40px;
	font-size: 22px; 
}
#ListHis3{
	background-color: #fedd00;
	height: 40px;
	font-size: 22px; 
}
#ListHis4{
	background-color: #d72c88;
	height: 40px;
	font-size: 22px; 
}
#ListHis5{
	background-color: #e8a8cc;
	height: 40px;
	font-size: 22px; 
}
#ListHis6{
	background-color: #c3d200;
	height: 40px;
	font-size: 22px; 
}
#ListHis7{
	background-color: #e4e17a;
	height: 40px;
	font-size: 22px; 
}
#ListHis8{
	background-color: #40b4e6;
	height: 40px;
	font-size: 22px; 
}
*/