{% extends "index.html"%}
{% block body %}
<script src="https://e-cdns-files.dzcdn.net/js/min/dz.js"></script>
<div id="dz-root"></div>
    <link rel="stylesheet" href="https://www.koolchart.com/demo/KoolChart/Assets/Css/KoolChart.css"/>
    <link rel="stylesheet" href="https://www.koolchart.com/demo/Samples/Web/sample.css"/>
    <script src="https://www.koolchart.com/demo/LicenseKey/KoolChartLicense.js"></script>
    <script src="https://www.koolchart.com/demo/KoolChart/JS/KoolIntegration.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrLX711kjpspjQ4dvU5Aj7PoATosHe5NQ&callback=initMap"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="/static/js/map.js"></script>
    <script src="/static/js/home.js"></script>
<script>
DZ.init({
  appId  : '253822',
  channelUrl : 'deezerfinalyear.herokuapp.com',
});

function check(){ 
  DZ.getLoginStatus(function(response){
    console.log(response);
})}

function logout(){
  DZ.logout();
}

window.onload = function(){
  document.forms['d3Form'].submit();
}
</script>

<!--******************** TOP NAV BAR ********************--> 

<nav class="navbar navbar-inverse navbarNavyH">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"></a></li>
      <li><a class="navbarFontH" href="http://www.deezer.com/en/">Deezer.com</a></li>
      <li><a href="#"></a></li>
      <li><a class="navbarFontH" onclick="logout()" href="#" data-target="#myModal" data-toggle="modal">Logout</a></li>
    </ul>
  </div>
</nav>

<!--******************** SIDE NAV BAR ********************--> 


<div class="col-sm-2 sideNavH">
<br><br>
  <div class="logoPaddingH">
    <a class="navbar-brand" href="/"> <img class="logoPositionH" src="static/img/DeezerText.png"></a>
  </div>
  <br>
  <div class="homeBorderH">
    <a href="main" class="homeTitleH">HOME</a>
    <li class="myrecItems">
      <a class="homeItemsTextH" href="#worldMap" ><i class="glyphicon glyphicon-user navbar-left"></i>World Map</a>
    </li>
    <li class="myrecItems">
      <a class="homeItemsTextH" href="#musicCharts"><i class="glyphicon glyphicon-music navbar-left"></i>Charts</a></li>
    <li class="myrecItems">
      <a class="homeItemsTextH" href="#topCharts"><i class="glyphicon glyphicon-list-alt navbar-left"></i>Top tracks by country</a>
    </li>
  </div>
  <br><br>
  <div class="chartBorderH">
    <li class="chartItemsH" >
      <a class="myrecTitleH" href="/user"><i class="glyphicon glyphicon-th-list navbar-left"></i> MY RECOMMENDATIONS </a>
    </li>
  </div>
  <br><br>
  <div class="chartBorderH">
    <li class="chartItemsH">
      <a class="chartTitleH" href="charts">MUSIC DATA<i class="glyphicon glyphicon-stats navbar-left"></i></a>
    </li>
  </div>
  <div id =playerData>   
  </div>
</div>

<!--******************** BODY OF WEBSITE ********************--> 

<div class="col-sm-8 col-sm-offset-3" style="overflow: scroll;">
    
<!--******************** WORLD MAP ********************--> 


<div class="container worldMapContainer" id= "worldMap">
  <div class="row" style="">
    <div class="col-md-12"> 
      <p class="worldMapTitle"> <b>Music Map </b></p>
    </div>
  </div>
  <div id="map" style="width: 100%"></div>
</div>
<br><br>

  <!--******************** MUSIC CHARTS ********************--> 


<div class="container musicChartsContainer" id= "musicCharts">
  <div class="row" style="">
    <div class="col-md-12"> 
      <p class="musicChartsTitle"> <b>Charts </b></p>
    </div>
  </div>
  <div class="col-sm-6 chartjsPosition">
    <p class="textChart">Top tracks in the world </p>
      <canvas id="myChart1"></canvas>
  </div>
  <div class="col-sm-6 koolchartPosition">
    <p class="textChart" "> Top artists </p>
    <div id="chartHolder" style=" margin-left: -5px"></div>
  </div>  
</div>
<br><br>

<!--******************** D3 CHART ********************--> 

<div class="container d3ChartContainer" id= "topCharts">
  <div class="row">
    <div class="col-md-12"> 
      <p class="d3ChartTitle"> <b>Top tracks by country </b></p>
    </div>
  </div>
  <div class="col-sm-8 d3Chart">
    <p class="d3ChartText">  </p>
    <div class="container">
      <div id="myChart3"></div>
    </div>
  </div>
  <div class="col-sm-4" style ="background-color:white;">
    <p class="d3OptionText">Select a country and enter a number of tracks </p>
    <br>
    <form name="d3Form" action="javascript:checkButton()">
      <input class="d3Input" type="number" id="topSongs" name ="topSongs" min="1" max="6" value= "4">
      <br><br><br><br>
      <select class="d3Select">
        <option value="IRL" name="topsongs" id="Ireland"> Ireland </option>
        <option value="WORLD" name="topsongs" id="Worldwide"> Worldwide </option>
        <option value="AUSL" name="topsongs" id="Australia"> Australia </option>
        <option value="AUS" name="topsongs" id="Austria"> Austria </option>
        <option value="ARG" name="topsongs" id="Argentina"> Argentina </option>
        <option value="BEL" name="topsongs" id="Belgium"> Belgium </option>
        <option value="BRA" name="topsongs" id="Brazil"> Brazil </option>
        <option value="CAN" name="topsongs" id="Canada"> Canada </option>
        <option value="CHI" name="topsongs" id="Chile"> Chile </option>
        <option value="COL" name="topsongs" id="Columbia"> Columbia </option>
        <option value="COS" name="topsongs" id="Costa Rica"> Costa Rica </option>
        <option value="CZE" name="topsongs" id="Czech Republic"> Czech Republic </option>
        <option value="CRO" name="topsongs" id="Croatia"> Croatia </option>
        <option value="DEN" name="topsongs" id="Denmark"> Denmark </option>
        <option value="ECU" name="topsongs" id="Ecuador"> Ecuador </option>
        <option value="EST" name="topsongs" id="Estonia"> Estonia </option>
        <option value="FIN" name="topsongs" id="Finland"> Finland </option>
        <option value="FRA" name="topsongs" id="France"> France </option>
        <option value="GER" name="topsongs" id="Germany"> Germany </option>
        <option value="GUA" name="topsongs" id="Guatemala"> Guatemala </option>
        <option value="HON" name="topsongs" id="Honduras"> Honduras </option>
        <option value="HUN" name="topsongs" id="Hungary"> Hungary </option>
        <option value="INA" name="topsongs" id="Indonesia"> Indonesia </option>
        
        <option value="ITA" name="topsongs" id="Italy"> Italy </option>
        <option value="LAT" name="topsongs" id="Latvia"> Latvia </option>
        <option value="LIT" name="topsongs" id="Lithuania"> Lithuania </option>
        <option value="MEX" name="topsongs" id="Mexico"> Mexico </option>
        <option value="NET" name="topsongs" id="Netherlands"> Netherlands </option>
        <option value="NOR" name="topsongs" id="Norway"> Norway </option>
        <option value="POL" name="topsongs" id="Poland"> Poland </option>
        <option value="Rom" name="topsongs" id="Romania"> Romania </option>
        <option value="RUS" name="topsongs" id="Russia"> Russia </option>
        <option value="SER" name="topsongs" id="Serbia"> Serbia </option>
        <option value="SIN" name="topsongs" id="Singapore"> Singapore </option>
        <option value="SLO" name="topsongs" id="Slovakia"> Slovakia </option>
        <option value="SOU" name="topsongs" id="South Africa"> South Africa </option>
        <option value="SPA" name="topsongs" id="Spain"> Spain </option>
        <option value="SWE" name="topsongs" id="Sweden"> Sweden </option>
        <option value="SWI" name="topsongs" id="Switzerland"> Switzerland </option>
        <option value="TUR" name="topsongs" id="Turkey"> Turkey </option>
        <option value="UK" name="topsongs" id="United Kingdom"> United Kingdom </option>
        <option value="USA" name="topsongs" id="USA"> USA </option>
        </select>
        <br>
        <br>
        <button type="submit" id="btn-style" class="btn btn btn-block" name="btn-style">Submit button</button>
      </form>
    </div>
  </div>
</div>
  
<div id="pieJS" class="container">
  <script src="https://d3js.org/d3.v3.min.js"></script>
 </div>

<!--******************** LOG OUT MODAL ********************--> 

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Notice</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to Log out?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="javascript:window.location.href='/'" data-dismiss="modal">Log me out</button>
        <button type="button" class="btn btn-default"  data-dismiss="modal">Dismiss</button>
      </div>
    </div>
  </div>
</div>


<!-- **************************************************-->

<script>

  //--******************** XML HTTP RESPONSE TO RETRIEVE DEEZER MUSIC DATA ********************
    function httpGet(url)
        {
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", url, false ); // false for synchronous request
    xmlHttp.send( null );
    return JSON.parse(xmlHttp.response);
        }
var urlworld = 'https://api.deezer.com/playlist/3155776842/tracks';
var responseworld = httpGet(urlworld)

  //--******************** CHART.JS CHART DISPLAYING TOP TRACKS IN THE WORLD********************

    var ctx1 = document.getElementById('myChart1');
        var stackedBar = new Chart(ctx1, {
    type: 'horizontalBar',
    data: {
    labels: [responseworld['data'][0]['title_short'], responseworld['data'][1]['title_short'], responseworld['data'][2]['title_short'], responseworld['data'][3]['title_short'], responseworld['data'][4]['title_short'],responseworld['data'][5]['title_short'], responseworld['data'][6]['title_short'], responseworld['data'][7]['title_short'], responseworld['data'][8]['title_short'], responseworld['data'][9]['title_short']],
      datasets: [
        {
          label: "Popularity",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
          data: [Math.round(responseworld['data'][0]['rank']/10000),Math.round(responseworld['data'][1]['rank']/10000),Math.round(responseworld['data'][2]['rank']/10000),Math.round(responseworld['data'][3]['rank']/10000),Math.round(responseworld['data'][4]['rank']/10000),Math.round(responseworld['data'][5]['rank']/10000),Math.round(responseworld['data'][6]['rank']/10000),Math.round(responseworld['data'][7]['rank']/10000),Math.round(responseworld['data'][8]['rank']/10000),Math.round(responseworld['data'][9]['rank']/10000)],
       backgroundColor: [
                'rgb(227,35,29)',
                'rgb(239,144,123)',
                'rgb(254,221,0)',
                'rgb(215,44,136)',
                'rgb(232,168,204)',
                'rgb(195,210,0)',
                'rgb(228,225,122)',
                'rgb(64,180,230)',
                'rgb(187,217,234)'
            ]}
      ]},
      //CUSTOMISING AXIS
    options:{
        responsive: true,
        maintainAspectRatio: false,
        legend: {
                display: false
            },
            scales: {
                xAxes: [{
                    ticks : {
                        max : 0,    
                        min : 100
                    },
                    display: false,
                     
                        }],
                yAxes: [{
                    display: true
                        }],
                 }
        }
    });

</script>

{% endblock %}