{% extends "index.html"%}
{% block body %}

<script src="https://e-cdns-files.dzcdn.net/js/min/dz.js"></script>
<div id="dz-root"></div>


<!--******************** TOP NAV BAR ********************--> 

<nav class="navbar navbar-inverse navbarNavyC">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"></a></li>
      <li><a href="http://www.deezer.com/en/" class="navbarFontC">Deezer.com</a></li>
      <li><a href="#"></a></li>
      <li><a onclick="logout()" href="#" data-target="#myModal" data-toggle="modal" class="navbarFontC">Logout</a></li>
    </ul>
  </div>
</nav>

<!--******************** SIDE NAV BAR ********************--> 

<div class="col-sm-2 sideNav">
  <br><br>
  <div class="logoPadding">
        <a class="navbar-brand" href="/"> 
          <img class="logoPositionC" src="static/img/DeezerText.png">
        </a>
     </div>
  <div class="homeBorder">
    <li class="homePosition">
      <a class="homeTitle" href="main">HOME
        <i class="glyphicon glyphicon-home navbar-left"></i>
      </a>
    </li>
  </div>
  <br>
  <div class="homeBorderH">
    <a class="myrecTitle" href="user">MY RECOMMENDATIONS </a>
    <li class="myrecItems">
      <a href="#UserInfo" class="myrecItemsText">
        <i class="glyphicon glyphicon-user navbar-left"></i>User Profile
      </a>
    </li>
    <li class="myrecItems">
      <a href="#UsersTopRecommendations" class="myrecItemsText">
        <i class="glyphicon glyphicon-music navbar-left"></i>Discover Tracks
      </a>
    </li>
    <li class="myrecItems">
      <a href="#PlaylistRecommendations" class="myrecItemsText">
        <i class="glyphicon glyphicon-list-alt navbar-left"></i>Discover Playlists
      </a>
    </li>
    <li class="myrecItems">
      <a href="#UsersArtistRecommendation" class="myrecItemsText">
        <i class="glyphicon glyphicon-star navbar-left"></i>Discover Artists
      </a>
    </li>
  </div>
  <br>
  <div class="chartBorder">
    <li class="chartPosition">
      <a href="charts" class="chartTitle">MUSIC DATA
        <i class="glyphicon glyphicon-stats navbar-left"></i>
      </a>
    </li>
  </div>
  <br><br>
    <li class="playerTitlePosition">
      <a class="playerTitleText">
        <i class="glyphicon glyphicon-music navbar-left"></i>YOUR MIX
      </a>
    </li>
  <div id ="playerData" class="player"></div>
</div>
  
<!--******************** BODY OF WEBSITE ********************--> 

<div class="col-sm-8 col-sm-offset-3" style="overflow: scroll;">

<!--******************** USER PROFILE ********************--> 

  <div class="container topContainer" id ="UserInfo">
    <div class="row" style="margin-top: 10px;">
      <div class="col-md-12"> 
        <p class="standardTitle"> <b>User Profile </b></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12"> 
        <p class="deezerWelcome"> Welcome to your Deezer, </p>
          <div class="usersName" id="UserName"></div>          
      </div>
    </div>
    <div class="row" style="margin-top: 10px;">
      <div class="col-md-5"> 
        <div class="col-md-6">
          <div id="UserPictureIMG"></div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="col-md-6">
          <p class="userFollowers"> Followers:  </p>
            <div class="noOfFollowers" id="UserFollowers">
            </div>
            <br>
              <p class="noOfFollowings">  Followings:   </p>
              <div class="noOfFollowings" id="UserFollowings">
              </div>
            <br>
          </div>
          <div class="col-md-6">
            <p class="userMember"> Member Since:  </p>
          <div class="memberSince" id="DateJoined"></div>
        </div>
      </div>
    </div>
  </div>

<!--******************** TRACK RECOMMENDATION ********************-->  

  <div class="container standardContainer" id ="UsersTopRecommendations"> 
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-12"> 
        <p class="standardTitle"> <b>Your top recommendations </b></p>
      </div>
    </div>
    <br>
    <div class="row">
      <div id="chartGuage"></div>
    </div>
    <div class="row" style="padding-top: 30px;">
      <div id="trackrecsRow1" class="trackRecsPosition"></div>
    </div>
    <div class="row">
      <div id="trackrecsRow2" class="trackRecsPosition"></div>
    </div>
    <div class="row">
      <div id="artistrecsRow3" class="trackRecsPosition""></div>
    </div>
  </div> 

<!--******************** PLAYLIST RECOMMENDATION ********************-->

  <div class="container standardContainer" id ="PlaylistRecommendations">
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-12"> 
        <p class="standardTitle"> <b>Playlist recommendations </b></p>
      </div>
    </div>
    <div class="row" style="">
      <div class="bs-example">
        <div id="myCarousel" class="carousel slide carouselPosition" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active" style="background-color: #e3231d"></li>
            <li data-target="#myCarousel" data-slide-to="1" style="background-color: #fedd00"></li>
            <li data-target="#myCarousel" data-slide-to="2" style="background-color: #d72c88"></li>
            <li data-target="#myCarousel" data-slide-to="4" style="background-color: #c3d200"></li>
            <li data-target="#myCarousel" data-slide-to="5" style="background-color: #40b4e6"></li>
          </ol>   
          <!-- Wrapper for carousel items -->
          <div class="carousel-inner">
            <div class="item active">
              <div id="RecPlaylist0">
                <div id="RecPlaylistOuter0" class="img-fluid playlistCarouselOuter"></div>
              </div>
            </div>
            <div class="item">
              <div id="RecPlaylist1">
                <div id="RecPlaylistOuter1" class="img-fluid playlistCarouselOuter"></div>
              </div>
            </div>
            <div class="item">
              <div id="RecPlaylist2">
                <div id="RecPlaylistOuter2" class="img-fluid playlistCarouselOuter"></div>
              </div>
            </div>
            <div class="item">
              <div id="RecPlaylist3">
                <div id="RecPlaylistOuter3" class="img-fluid playlistCarouselOuter"></div>
              </div>
            </div>
            <div class="item">
              <div id="RecPlaylist4">
                <div id="RecPlaylistOuter4" class="img-fluid playlistCarouselOuter"></div>
              </div>
            </div>
          </div>
          <!-- Carousel controls -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
    </div>
  </div>

<!--******************** ARTIST RECOMMENDATION ********************-->

  <div class="container standardContainer" id="UsersArtistRecommendation"> 
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-12"> 
        <p class="standardTitle"> <b>Artist recommendations </b></p>
      </div>
    </div>
  <div class="row">
    <div class="col-md-12" style="margin-left: -20px;">
      <div id="mdb-lightbox-ui" ></div>
        <div class="mdb-lightbox">
          <figure class="col-md-3 col-sm-6">
            <a href="" data-size="1600x1067">
              <div id= "RecArtist0" class="img-fluid">
            </a>
          </figure>
          <figure class="col-md-3 col-sm-6">
            <a href="" data-size="1600x1067">
              <div id= "RecArtist1" class="img-fluid">
            </a>
          </figure>
          <figure class="col-md-3 col-sm-6">
            <a href="" data-size="1600x1067">
              <div id= "RecArtist2" class="img-fluid">
            </a>
          </figure>
          <figure class="col-md-3 col-sm-6">
            <a href="" data-size="1600x1067">
              <div id= "RecArtist3" class="img-fluid">
            </a>
          </figure>
          <figure class="col-md-3 col-sm-6">
            <a href="" data-size="1600x1067">
              <div id= "RecArtist4" class="img-fluid" style="margin-top: 15px;">
            </a>
          </figure>
          <figure class="col-md-3 col-sm-6">
            <a href="" data-size="1600x1067">
              <div id= "RecArtist5" class="img-fluid" style="margin-top: 15px;">
            </a>
          </figure>
          <figure class="col-md-3 col-sm-6">
            <a href="" data-size="1600x1067">
              <div id= "RecArtist6" class="img-fluid" style="margin-top: 15px;">
            </a>
          </figure>
          <figure class="col-md-3 col-sm-6">
            <a href="" data-size="1600x1067">
              <div id= "RecArtist7" class="img-fluid" style="margin-top: 15px;">
            </a>
          </figure>
        </div>
      </div>
    </div>
  </div>

<!--******************** FRIENDS TRACKS ********************-->   

  <div class="container standardContainer" id ="FriendsInfo">
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-12"> 
        <p class="standardTitle"> <b>What my friends are listening </b></p>
      </div>
    </div>
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-12"> 
        <div id = "RandomFriend" style="text-align: center;"> </div>
      </div>
    </div>
    <div class="row" style="">
      <div class="bs-example">
        <div id="myCarousel2" class="carousel slide carouselPosition" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel2" data-slide-to="0" class="active" style="background-color: #e3231d"></li>
            <li data-target="#myCarousel2" data-slide-to="1" style="background-color: #fedd00"></li>
            <li data-target="#myCarousel2" data-slide-to="2" style="background-color: #d72c88"></li>
            <li data-target="#myCarousel2" data-slide-to="4" style="background-color: #c3d200"></li>
            <li data-target="#myCarousel2" data-slide-to="5" style="background-color: #40b4e6"></li>
          </ol>   
          <!-- Wrapper for carousel items -->
        <div class="carousel-inner" style="">
          <div class="item active">
            <div id="FriendsMusic1" style="">
              <div id="FriendsMusicOuter1" class="img-fluid friendCarouselOuter"></div>
            </div>
          </div>
          <div class="item">
            <div id="FriendsMusic2" style="">
              <div id="FriendsMusicOuter2" class="img-fluid friendCarouselOuter"></div>
            </div>
          </div>
          <div class="item">
            <div id="FriendsMusic3" style="">
              <div id="FriendsMusicOuter3" class="img-fluid friendCarouselOuter"></div>
            </div>
          </div>
          <div class="item">
            <div id="FriendsMusic4" style="">
              <div id="FriendsMusicOuter4" class="img-fluid friendCarouselOuter""></div>
            </div>
          </div>
          <div class="item">
            <div id="FriendsMusic5" style="">
              <div id="FriendsMusicOuter5" class="img-fluid friendCarouselOuter""></div>
            </div>
          </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel2" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel2" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>
</div>
<br><br>

<!--******************** LOG OUT MODAL ********************--> 

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Notice</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to Log out?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="javascript:window.location.href='/'" data-dismiss="modal">Log me out</button>
        <button type="button" class="btn btn-default"  data-dismiss="modal">Dismiss</button>
      </div>
    </div>
  </div>
</div>

<script>
var id;
var token;

DZ.init({
      appId  : '253822',
      channelUrl : 'https://deezerfinalyear.herokuapp.com',
});

function logout(){
  DZ.logout();
}

</script>
<script src="/static/js/userRec.js"></script>  


{% endblock %}